 html {
   font-size: 17px;
 }

 body {
   margin: 0;
   font-family: "Ubuntu", sans-serif;
   font-weight: normal;
   color: #041032;
   background-color: #FFFFFF;
 }

 /* div { */
 /* display: block; */
 /* } */

 p {
   font-family: "Roboto", sans-serif;
   font-weight: normal;
   line-height: 150%;
 }

 h1 {
   color: rgb(27, 153, 226);
 }

 h1,
 h2,
 h3,
 p {
   margin: 0;
 }

 /* div.container { */
 /* background-color: darkgrey; */
 /* } */

 div.logo {
   display: inline-block;
 }

 div.hh1 {
   display: inline-block;
   margin-left: 25%;
   vertical-align: top;
   margin-top: 1em;

 }

 div.hh1>h1 {
   font-family: "Ubuntu", sans-serif;
   font-size: 100px;
 }

 .logo {

   width: 150px;
   height: 201px;
 }

 div.bucket {
   display: inline-block;
   vertical-align: top;
   margin-left: 1%;
   border: 1px solid gray;


 }

 .buck {
   font-style: gray;
 }

 span.counter::before {
   content: "0";
 }

 .counter {
   display: inline-block;
   position: relative;
   padding: 0.05em 0.6em 0 0.6em;
   margin-left: 0.75em;
   background: #c0c0c0;
   color: #fff;
   border-radius: 0.2em;
 }

 .serch {
   border: none;
   border-left: 1px solid gray;
 }

 .form_search {
   border: 1px solid gray;
 }

 .bucket input.submit {
   display: inline-block;
   position: absolute;
   z-index: 1000;
   top: 1pt;
   left: 1pt;
   width: 2em;
   height: 2em;
   cursor: pointer;
   background: none;
   color: #fff;
 }



 .row.head p {
   margin: 0;
 }





 row>.container {
   position: relative;
   margin: 0 auto;
   max-width: 1100px;
   overflow: hidden;
 }

 .row>.mentainer {
   /* background-color: #aaa; */
   vertical-align: middle;

   position: relative;
   margin: 0 auto;
   padding: 10px;
   max-width: 1100px;
   text-align: center;
   font-family: "Roboto", sans-serif;

 }

 a.header-menu-link {
   font-size: 125%;
   color: rgb(211, 74, 32);
 }

 .row.head ul.nav {
   display: inline-block;
   vertical-align: middle;
   list-style: none;
   margin: 0 auto;
   padding: 0;
   width: 100%;
   text-align: center;
   white-space: normal;
   position: relative;
 }

 li.header-menu-link {
   display: inline-block;
 }

 li a.header-menu-link {
   display: block;
   margin-left: 20px;
   text-decoration: none;
 }

 /* a { */
 /* transition: all 0.3s ease-out; */
 /* } */

 li.animate a :hover {
   transition: all 0.3s ease-out;
   transform: translate(0, 4px);
 }

 img.img-fluid {
   text-align: center;
   /* margin-left: 4.5em; */
   margin-left: auto;
   margin-right:auto;
 }

 /*______HEADER (BEGINER)______________*/

 /* .container-knot::after { */
 /* display: block; */
 /* position: absolute; */
 /* z-index: 21000; */
 /* top: -22px; */
 /* left: -26px; */
 /* background-image: url(../img/knote.png); */
 /* background-repeat: no-repeat; */
 /* } */
 /* .container-rope::before { 
   position: absolute; 
   margin-top: 0;
   padding: 13px;
   height: 52px;
   width: 86px;
   left: 100px;
   display: block;
   background-image: url(../img/knote.png);
   background-repeat: no-repeat;
 }
*/

 .container-rope {

   position: relative;

   background: url(../img/rope.png) repeat-x;
 }



 /* .kn-ot { */
 /* position: relative; */
 /* display: block; */
 /* background-image: url(../img/rope.png); */
 /* background-repeat: repeat-x; */
 /* } */


 /* .container-knot img {


   background-repeat: repeat-x;

 }
*/

 ul {
   /* display: block; */
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 40px;
   list-style: none;
 }

 form {
   display: inline-block;
 }

 .row.carousel {
   margin-top: 0;
 }

 .row.carousel.container {
   padding-bottom: 1em;
   /* max-width: auto; */
   overflow: visible;
   margin: 0 auto;
   /* margin-top: none; */

 }
.carousel-item{
  text-align:center;
}
 .row>.container {
   position: relative;
   margin: 0 auto;
   /* max-width: 1100px; */
   overflow: hidden;
 }

 .row.carousel p.descr {
   margin: 0 auto;
   padding: 0.2em 0.8em 0.2em 0.8em;
   line-height: 100%;
   font-size: 200%;
   font-weight: 500;
   text-align: center;
   color: #111;


 }

 .row.carousel .animate {
   transition: all 0.3s ease-out;
   border-bottom-style: hidden;
 }

 .row.carousel ul {
   list-style: none;
   /* margin: 0 auto; */
   padding: 0;
   white-space: nowrap;
   text-align: center;
 }

 .row.carousel img {
   display: block;
 }

 .row.carousel a {
   border-bottom-style: none;
   /* margin: -2em 0 2em 0; */
   /* margin: 0 auto; */
   /* padding: 0 0.5em; */
   display: block;
   color: #000;
   font-weight: 300;
   text-align: center;
   text-decoration: none;
   outline: none;
 }



 ul li.animate {
   display: inline-block;
 }

 /* секция Каталог */
 #carousel {
   display: flex;
   position: relative;
   margin-top: 0 auto;
   /* height: 150%; */
   /* visibility: hidden; */
   visibility: visible;
   /* visibility: hidden; */
   /* z-index: 10; */
 }

 #listCatalog {
   display: none;
   position: absolute;
   width: 1100px;
   /* height: 80%; */
   /* z-index: 1000; */
   visibility: visible;
   /* display:none; */
   /* display: flex; */
   text-align: left;
   /* margin-left: 3.5em; */
   /* background-color: gray; */
   /* top: 65% */
 }

 #listCatalog1 {
   display: none;
   position: absolute;
   width: 1100px;
   /* height: 80%; */
   /* z-index: 1000; */
   visibility: hidden;
   /* display:none; */
   /* display: flex; */
   text-align: left;
   /* margin-left: 3.5em; */
   /* background-color: gray; */
   /* top: 65% */
 }

 .catalog0 {
   margin: 0 auto;
   padding: 0.2em 0.8em 1em 0.8em;
   line-height: 100%;
   font-size: 200%;
   font-weight: 500;
   text-align: center;
   color: #111;
 }

 .catalog1 {
   margin: 0 auto;
   padding: 0.2em 0.8em 1em 0.8em;
   line-height: 100%;
   font-size: 200%;
   font-weight: 500;
   text-align: center;
   color: #111;
 }

 .advantages-item {
   margin-bottom: 0;
   margin-top: 10px;
 }

 .advantages-image {
   height: 128px;
   width: 128px;
   margin:0 auto ;
 }

 .advantages-item-header {
   margin-top: 0.5px;
   margin-bottom: 10px;
   margin-left: 0;
   align-content: center;
   text-align: center;
   font-family: 'Ubuntu'sans-serif;
   font-size: 24px;
   font-weight: 400;
   color: #a00;
 }

 p.advantages-item-text {
   width: 100%;
   margin: 0 5px 0 5px;
   /* background-color: yellow; */
   text-align: center;

 }

 /*______HEADER (END)__________________*/
 /*main*/
 .row.banners {
   display: block;
   position: relative;
   margin: 0 auto;
   /* max-width: 1100px; */
   text-align: center;
   padding-bottom: 3em;
 }

 p.ban {
   display: inline-block;

 }

 .row {
   padding: 0 2em;
 }

 .row.footer {
   padding: 0;
   overflow: hidden;
   /* background: #f4f4f4; */
   display: flex;
   max-width: 1100px;
   position: relative;
   margin: 0 auto;
   text-align: center;
 }

 .cont {
   text-align: left;
   /* padding: 0 10px 0 10px; */
 }

 .cont2 {
   text-align: left;
   /* padding: 0 10px 0 10px; */
   margin-left: 0 auto;
 }

 .cont_p {
   text-align: center;
 }


 body {
   font-family: verdana;
   font-size: 15px;
 }

 .link {
   color: #fff;
   text-decoration: none
 }

 .link:hover {
   color: #fff;
   text-decoration: underline
 }

 #mask {
   position: absolute;
   left: 0;
   top: 0;
   z-index: 9000;
   background-color: #000;
   display: none;
 }

 #boxes .window {
   position: absolute;
   left: 0;
   top: 0px;
   -top: 40px;
   width: 440px;
   height: 200px;
   display: none;
   z-index: 9999;
   padding: 20px;
   overflow: hidden;
 }

 .iw {
   background-color: lawngreen;
   font-size: 24px;
 }

 #boxes #dialog {
   width: 375px;
   height: 203px;
   padding: 10px;
   background-color: #ffffff;
   margin-top: 50%;
 }

 .top {
   position: absolute;
   left: 0;
   top: 0;
   width: 370px;
   height: 30px;
   background: #0085cc;
   padding: 8px 20px 6px 10px;
 }

 .close {
   float: right;
 }

 .content {
   padding-top: 35px;
 }